
*{
    list-style: none;
    text-decoration: none;
}
.sleda{
    margin-left: 0;
    margin-right: 0;
}



.ml-auto{
    margin-left: auto;
}

.header__nav-link{
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 28px;
     color: #252B42;
     text-decoration: none;
     padding: 10px ;
     margin-left: 94px;
     transition: 0.5s;
}

.header__nav-link:hover{
    color:  #FA4A0C;
    ;
}

.header__text{
    background: url(../img/Rectangle\ 48.jpg) no-repeat center center / cover;
    padding: 73px 0 300px;
}

.header__text-h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #F7F7F7;
}

.header__text-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    color: #FFFFFF;
    justify-content: center;
}

.header__text-h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #F7F7F7;
    margin-bottom: 58px;
    margin-top: 17px;
}

.header__text-button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    border: 1px solid #f3ff11;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 16px 58px;
    text-decoration: none;
    transition: 0.5s;
    margin: 0 17px;
    color: #ffffff;
}
.header__text-button:hover{
    background:  #00cc11;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    color: #ffffff;

}

/* ********************************************* */




.section__img{
    width: 100%;
    margin-top: -320px;
    margin-right: 100px;
}    
.chiziq{
    border-top: solid 3px #413a3a;
    width: 900px;
    padding: 20px 0 60px 0;
}

.caruselawox h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    color: #000000;
    text-align: center;
}
.skilles{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color:  #00cc11;
}

.helo{
    padding: 190px  0 0 30px;
}
.rtea{
    padding: 0 0 0 70px;
}

.tetil__rasm{
    width: 100%;
    text-align: center;
}

.skilles_h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
}

.skilles_p{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 38px;
   color: #737373;
}



/* ******************************************** */

.footer__menu{
    background: url(../img/oxiri.jpg) no-repeat center center / cover;
    padding: 100px 0 200pxpx;
}

.footer_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    padding-top: 40px;
    color: #FFFFFF;
}
.footer_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
}

.footer_button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140px;
    color: #FFFFFF;
    padding: 15px 35px;
    transition: 0.5s;
    text-decoration: none;
    border: 1px solid #f3ff11;
    border-radius: 20px;
    margin:  0 17px;
    box-sizing: border-box;
}

.footer_button:hover{
    background: #00cc11;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    color: #ffffff;
}

/* ******************************************** */

.footerwox{
    justify-content: center;
    text-align: center;
}
.trella{
    padding-top: 70px;
}
.section__iconka{
    width: 100%;
    height: 150px;
    background: #6a1c6a;
}

.footerwox{
    color: rgb(255, 103, 21);
    font-size: 30px;
}
.footerwox:hover{
    color:#000000;
    transition: 0.5s;
}

.rasml{
    padding-top: 20px;
    width: 60%;
}
.trela__ds{
    margin-left: 8px;
}
.paradr{
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: 16px;
}


@media(max-width: 1199px){
    .header__text-title {
        font-size: 52px;
        line-height: 70px;
    }
    .header__text-title {
        font-size: 54px;
    }
}

@media(max-width: 991px){
    .header__text-title {
        font-size: 45px;
        line-height: 70px;
    }
    .trella {
        padding-top: 46px;
    }
    
    .header__text-button {
        font-size: 19px;
        line-height: 19px;
    }
    .section__iconka {
        height: 132px;
    }
    .header__text-h4 {
    font-size: 20px;
    line-height: 28px;
    }
    .section__img {
        width: 90%;
    }
    .caruselawox h3 {
    font-size: 40px;
    }
    .skilles {
        font-size: 20px;
        line-height: 25px;
    }
    .skilles_h2 {
        font-size: 31px;
        line-height: 45px;
    }
    .skilles_p {
        font-size: 15px;
        line-height: 20px;
    }
    .helo {
        padding: 100px 0 0 0px;
    }
    .footer_text {
        font-size: 35px;
        line-height: 40px;
        padding-top: 31px;
    }
    .footer_title {
        font-size: 17px;
        line-height: 25px;
    }
    .footer_button {
        font-size: 14px;
        line-height: 123px;
    }
    .trela__ds {
        margin-left: 15px;
    }
    .rasml {
        padding-top: 20px;
        width: 80%;
    }
    .trella {
        padding-top: 40px;
    }
    .paradr {
        font-size: 14px;
    }

}

@media(max-width: 767px){
    .header__text-h3 {
        font-size: 20px;
        line-height: 40px;
    }
    .header__text-title {
        font-size: 30px;
        line-height: 50px;
    }
    .header__text-h4 {
        font-size: 15px;
    }
    .header__text-button {
        font-size: 10px;
    }
    .header__text {
        padding: 73px 0 222px;
    }
    .section__img {
        margin-top: -209px;
    }
    .chiziq {
        border-top: solid 2px #413a3a;
        padding: 20px 0 35px 0;
    }
    .caruselawox h3 {
        font-size: 30px;
    }
    .tetil__rasm{
        width: 100%;
    }
    .helo{
        padding: 32px 0 20px;
        text-align: center;
    }
    .skilles {
        font-size: 15px;
    }
    .skilles_h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .skilles_p {
        font-size: 10px;
        line-height: 20px;
    }
    .footer_text {
        font-size: 26px;
    }
    .footer_title {
        font-size: 10px;
    }
    .footer_button {
        font-size: 10px;
    }
    .footer_button {
        font-size: 16px;
        padding: 12px 30px;
        margin: 0 7px;
    }
    .footerwox {
        font-size: 20px;
    }
    .paradr {
        font-size: 10px;
    }
    .rasml {
        width: 64%;
    }
    .section__iconka {
        height: 100px;
    }
}


@media(max-width: 575px){
    .rasml {
        width: 0%;
        text-decoration: none;
    }
    .chiziq {
        border-top: solid 1px #413a3a;
        padding: 20px 0 35px 0;
    }
    .header__text-h3 {
        font-size: 12px;
        line-height: 27px;
    }
    .header__text-title {
        font-size: 17px;
        line-height: 30px;
    }
    .header__text-h4 {
        font-size: 10px;
    }
    .header__text-button {
        padding: 10px 17px;
        margin: 0px 4px;
    }
    .section__img {
        width: 70%;
    }
    .header__text {
        padding: 63px 0 122px;
    }
    .section__img {
        margin-top: -165px;
    }
    .header__text {
        background: #e2d0d0;
        padding: 73px 0 300px;
    }
    .header__text-button {
        font-size: 7px;
    }
    .header__text {
        padding: 63px 0 164px;
    }
    .header__text-h3 {
        color: #151414;
    }
    .header__text-title {
        color: #151414;
    }
    .header__text-h4 {
        color: #151414;
    }
    .header__text-button {
        border: 1px solid #ff0a02;
        color: #151414;
    }
    .chiziq {
        width: 70%;
    }
    .caruselawox h3 {
        font-size: 25px;
    }
    .skilles {
        font-size: 13px;
    }
    .skilles_h2 {
        font-size: 17px;
    }
    .skilles_p {
        font-size: 8px;
    }
    .footer_text {
        font-size: 20px;
    }
    .footer_title {
        font-size: 8px;
    }
    .footer_button {
        font-size: 10px;
        padding: 7px 15px;
        margin: 0px 1px;
    }
    .footer_button {
        color:  #151414;
        border: 1px solid #ff0a02;
    }
    .footer__menu {
        background: #e2d0d0;
    }
    .footer_title {
        color: #302c2c;
    }
    .footer_text {
        color: #302c2c;
    }
    .footerwox {
        font-size: 17px;
        padding-top: 1px;
    }
    .trella {
        padding-top: 12px;
    }
    .paradr {
        color: #fdfdfd;
    }
}